# Version of runt to be used with this configuration.
ver = "0.3.2"

# Configuration for each test suite. File paths are relative to the folder
# containing runt.toml.
[[tests]]
# Optional name for this test suite.
name = "Cat tests"
# Test paths can be globs or exact.
paths = [ "cat-test/*.txt" ]
# Command to run on each test file. {} is replaced with input name.
cmd = "sleep 1; cat {}"
# (Optional) Directory to store the generated .expect files.
expect_dir = "cat-out/"
# (Optional) Timeout for tests in seconds. Defaults to 1200 seconds.
timeout = 1200

[[tests]]
name = "Ls test"
paths = [ "ls-test/input.txt" ]
cmd = "sleep 4; cat {} | ls"

[[tests]]
name = "Error test"
paths = ["error-test/input.txt"]
cmd = "sleep 3; echo error message 1>&2 && exit 1"

[[tests]]
name = "Timeout test"
cmd = """
sleep 100
"""
paths = ["timeout-test/input.txt"]
timeout = 2 # Timeout of two seconds
