# Version of runt to be used with this configuration.
ver = "0.2.5"

[[tests]]
name = "default output"
paths = [ "default" ]
cmd = "../target/debug/runt ../cli-test"

[[tests]]
name = "diff output"
paths = [ "diff" ]
cmd = "../target/debug/runt ../cli-test -d"

[[tests]]
name = "only output"
paths = [ "only" ]
cmd = "../target/debug/runt ../cli-test --only miss -d"

[[tests]]
name = "include regex"
paths = [ "incl" ]
cmd = "../target/debug/runt ../cli-test -i input"

[[tests]]
name = "exclude regex"
paths = [ "excl" ]
cmd = "../target/debug/runt ../cli-test -x input"

[[tests]]
name = "exclude regex & status"
paths = [ "excl-status" ]
cmd = "../target/debug/runt ../cli-test -x input -o fail"

[[tests]]
name = "include test suite"
paths = [ "incl-test-suite" ]
cmd = "../target/debug/runt ../cli-test -i \"Ls test\""
